.container {
  width: 1440px;
  height: 810px;
  position: relative;
  background-color: #000000;
  margin: 0 auto;
}


.text-group {
  position: absolute;
  left: 61px;
  top: 90px;
  display: flex;
  gap: 262px;
  /* Add this line to nudge the title to the right */
  padding-left: 70px; 
}



.title {
  font-family: 'OV Soge', sans-serif;
  font-size: 36px;
  width: 461px;
}

.description {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  color: #F7F3EB;
  width: 466px;
}

.rectangle {
  position: absolute;
  width: 1178px;
  height: 496px;
  left: 131px;
  top: 250px;
  background-color: #D9D9D9;
  border-radius: 13px;
}